
body {
    color: #112E47;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
    font-size: 65px;
    font-family: 'Untitled Sans';
    line-height: 80px;
    font-weight: 200;
}

.hero-heading {
    max-width: 760px;
}
