/*
IntVentures Main Stylesheet
Kelsey Legault
November 2017
*/


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    color: #112E47;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    -webkit-font-smoothing: antialiased;
    font-family: 'Untitled Sans', serif;
    font-size: 65px;
    font-weight: 200;
    line-height: 80px;
    padding: 120px 0 85px 0;
    color: #112E47;
}

p {
    font-size: 15px;
    max-width: 450px;
    margin-top: 22px;
    line-height: 25px;
}

header {
    font-family: 'Untitled Sans', serif;
    font-size: 18px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 12px;
}

header a {
    color: #112E47;
    font-weight: 200;
    margin-left: 50px;
    padding: 8px 12px;
    text-decoration: none;
    white-space: nowrap;
}

a {
    transition: 0.5s;
}

a:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.inner-container {
    margin: 0 auto;
    padding: 0 12px;
    max-width: 900px;
    min-width: 1030px;
}

.hero-heading {
    max-width: 750px;
    padding-top: 150px;
}

.hero-illustration {
    display: none;
    width: 600px;
    position: absolute;
    right: -200px;
    top: 300px;
}

.synergy-ball {
    display: none;
    position: absolute;
    right: 60px;
    top: 520px;
    width: 204px;
    z-index: -1;
}

.hero-paragraph {
    margin-top: 50px;
}

.button {
    border: #112E47 solid 2px;
    border-radius: 2px;
    padding: 8px 16px;
}

.testimonials span:first-of-type {
    font-family: 'Untitled Sans', serif;
    padding-bottom: 4px;
}

.testimonials a {
    border-bottom: 1px #92FF50 solid;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #112E47;
    white-space: nowrap;
}

/* Flex */
.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

._space-between {
    justify-content: space-between;
}

._direction-column {
    flex-direction: column;
}

._justify-content-center {
    justify-content: center;
}

._alignitems-center {
    align-items: center;
}

._alignitems-flex-end {
    align-items: flex-end;
}

.testimonials {
    margin: 50px 0;
}

.testimonials img {
    height: 60px;
    padding-right: 20px;
}

.testimonial {
    padding-right: 75px;
}

.testimonial:last-of-type {
    margin-top: 70px;
}

.testimonials:last-child {
    margin-left: 70px;
}

.testimonials .row:last-child {
    margin-top: 10px;
    margin-left: 150px;
}

.howitworks-illustration {
    position: absolute;
    left: -10px;
    top: 1400px;
}

.howitworks-text {
    margin-top: -90px;
    padding-left: 300px;
}

.howitworks-text .in {
    padding-left: 110px;
}

.howitworks-text span,
.company span {
    font-family: 'HK Grotesk', sans-serif;
}

.howitworks-text span:first-child {
    color: #ACFF70;
    padding-right: 40px;
}

.howitworks-text p {
    padding-left: 70px;
}

.step {
    margin-top: 110px;
}

h1.our-company  {
    margin-top: 80px;
    padding: 80px 30px 0 0;
    text-align: right;
}

.company {
    margin-top: 80px;
}

.title span {
    font-family:'Untitled Sans';
    padding-bottom: 4px;
}

.company-asset {
    padding-right: 130px;
}

.title {
    position: relative;
    top: -180px;
    left: 230px;
}

.title p {
    margin-top: 3px;
}

.we-listen {
    position: relative;
    top: -50px;
}

.contact h1 {
    max-width: 820px;
}

.contact-button {
    display: block;
    width: 100%;
    background-color: #112E47;
    color: #fff;
    padding: 30px;
    font-family: 'Untitled Sans';
    text-align: center;
    text-decoration: none;
    font-size: 27px;
}

footer {
    margin: 200px auto 50px auto;
    display: block;
    height: 300px;
}

footer .logo {
    float: right;
}

footer p {
    text-align: right;
    max-width: none;
}

.footer-illustration {
    position: absolute;
    bottom: -3640px;
    left: -10px;
}

@media (min-width: 1030px) {
    .hero-illustration {
        display: block;
        width: 641px;
        right: -200px;
    }
    .synergy-ball {
        display: block;
    }
}

@media (min-width: 1350px) {
    .hero-illustration {
        right: -100px;
    }
    .synergy-ball {
        right: 160px;
    }
}
